.App {
  display: flex;
  flex-direction: column;
}

.home {
  height: 100vh;
  z-index: 1;
}

.homeImage {
  position: absolute;
  top: 371px;
  left: 329px;
}

.navBar, .navGradient {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navBar {
  top: 0;
  background-color: #000000;
  color: white;
  padding: 1rem;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-100%);
}

.navBar.show, .navGradient.show {
  opacity: 1;
  transform: translateY(0);
}

.navLinks {
  width: 301px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.navGradient {
  top: 75px;
  height: 8px;
  width: 100vw;
  background: linear-gradient(90deg, rgba(0, 165, 174, 1) 0%, rgba(43, 57, 144, 1) 100%);
  transform: translateX(-100%);
}

.mySkills {
  min-height: 100vh;
  background-color: #000000;
  color: white;
  background-image: url('./assets/Phoenix.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 1229px 1328px;
  background-position: top 10px left 75px;
}

.skillsContent {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.skillsHeading {
  align-self: flex-start;
  margin: 100px 0 50px 0;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
}

.bold {
  font-weight: bold;
}

ul {
  padding-left: 25px;
}

li {
  font-size: 24px;
}

.hardSkills, .softSkills {
  width: 50%;
}
